# Operating system junk
.DS_Store
Thumbs.db

# Editors and IDEs
.idea/
.vscode/
*.iml

# Node / JavaScript toolchain
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts and caches
dist/
build/
out/
.cache/

# Environment and secrets
.env
.env.*

# Test and coverage outputs
coverage/
.nyc_output/
.target/

#python
__pycache__/
.pytest_cache/
venv/

#java
target/
.classpath
.project
.settings/
.idea/
.vscode/

apache-airflow/logs/
